.page-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000099;
    opacity: 0;
    z-index: -10;
    transition: all .3s ease-in-out;
  }
  &.show{
    z-index: 10;
    .overlay{
      opacity: 1;
      z-index: 2;  
    }
    .form{
      transform: translateY(0vh);
    }
  }

  .form {
    background: #192953;
    position: relative;
    z-index: 9;
    border-radius: 10px;
    padding: 30px;
    min-width: 400px;
    transform: translateY(-100vh);
    transition: all .3s ease-in-out;
    .form-btns {
      display: flex;
      justify-content: space-between;
      .btn {
        margin: 0;
      }
    }
  }

  .close {
      position: absolute;
      right: 10px;
      top: 10px;
  }

  .form h2 {
      font-weight: 600;
      color: #fff;
      margin-bottom: 20px;
      text-align: center;
      font-size: 18px;
  }
}
.form input:disabled {
  font-size: 13px;
  height: 40px;
}

.form .label-form {
  margin-bottom: 10px;
}

.form label {
  font-size: 13px;
  color: #fff;
}
.date-info {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 13px;
}

.date-info span {
  font-weight: 600;
  line-height: 21px;
  color: #4980FF;
}

.label-form textarea {
  background: #121C36;
  border: none;
  color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100px;
  line-height: 50px;
  padding: 0 20px;
  max-width: 100%;
  max-height: 100%;
}

.date-info div+div {
  margin-left: 30px;
}

.btn {
  background: transparent;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  background: #2B3B64;
  border: 1px solid #4980FF;
  text-align: center;
  padding: 10px 15px;
  color: #fff;
  margin-left: 10px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content:space-between;
  &.primary {
    border-color: #4980FF;
    background: #4980FF;
    color: #fff;
  }
}

button.btn:disabled{
  opacity: 0.3;
}

.DEFAULT {
  background: #000;
  color:#fff;
}
.WARNING {
  background: #FFE193;
}
.CRITICAL {
  background: #FF9393;
}
.NO_DATA {
  background: #f6f6f6;
}
.NO_CONTROL {
  background: #ccc;
}
.sound {
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    width: 15px;
    height: 15px;
  }
}
input, select {
  background: #121C36;
  border: none;
  color: #fff;
}