<div class="card">
	<div class="card-first">
		<img src="assets/img/logo.svg" width="120" alt="">		
		<div class="version">Версия: 1.0.0.7</div>
	</div>
	<div class="card-second">
		<button class="btn" [routerLink]="['/login']">Вход в систему</button>
		<!-- <a [routerLink]="['system']" class="link">О системе</a>
		<a [routerLink]="['about']" class="link">О нас</a> -->
		<a href="https://me1.kz/uslugi" target="_blank" class="link">О системе</a>
		<a href="https://me1.kz/o-kompanii" target="_blank" class="link">О нас</a>
	</div>
</div>