.directory {
  display: flex;
  height: 100%;
  &-sidebar {
    min-width: 297px;
    border-right: 1px solid #2A3960;
    padding: 30px 19px 0 27px;
  }
  h3 {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0 0 25px 10px;
    font-weight: 700;
  }
  &__item {
    border-radius: 5px;
    padding: 8px 0 9px 10px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0;
    display: block;
  }
  &-wrap {
    width: 100%;
    padding: 0 41px 0 31px;
  }
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 0 13px 8px;
  }
  .new {
    background: #4980FF;
    border-radius: 5px;
    padding: 10px 44px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    outline: none;
  }
}

.channel {
  width: 100%;
  z-index: 100;
  border-radius: 10px;
  &-table {
    border: 1px solid #2B3B64;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  &-items {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #2B3B64;
    padding: 8px 0;
    &:last-child {
      border-bottom: none;
    }

    &.header {
      font-weight: bold;;
    }
  }
  &__item {
    display: flex;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    width: 200px;
    padding: 10px 0 10px 15px;

    &:last-child {
      max-width: 176px;
    }

    &.narrow {
      width: 100px;
    }
  }
}
.active {
  background: #4980FF;
}
.icon {
  width: 16px;
  margin-right: 12px;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;

  .form {
    background: #192953;
    position: relative;
    border-radius: 10px;
    padding: 40px 50px;
    width: 400px;
    box-sizing: border-box;
    // transform: translateY(-100vh);

    .row {
      display: flex;
      justify-content: space-between;

    }
    input {
      width: 330px !important;
      flex: 0;
    }

    &.narrow {
      width: 350px;
      padding: 25px;

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 23px;
      }
    }
    
    &.add {
      width: 674px;
      box-sizing: content-box;

      .add-users {
        display: flex;
        justify-content: space-between;

        .users-list {
          background: #121C36;
          border-radius: 5px;
          color: white;
          width: 342px;
          flex-grow: 0;
          position: relative;
          // display: flex;
          // flex-direction: column;
          // height: 350px;

          .user-list-scroll {
            overflow-y: scroll;
            height: 150px;
          }

          .user, .all, .header {
            margin-left: 11px;
            margin-right: 22px;
            margin-top: 9px;
            padding: 3px 10px;

            font-family: 'PT Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            
            &.user {
              cursor: pointer;
              user-select: none;
            }

            &.selected {
              background: #4980FF;
              border-radius: 5px;
            }

            &.header {
              margin: 0;
              // margin-bottom: 10px;
              padding: 10px 20px;
              background: #2B3B64;
              border-radius: 5px;
            }

            &.all {
              width: 100%;
              margin: 0;
              border-top: 1px solid #2B3B64;
              padding: 10px 20px;
              color: #4980FF;
              font-weight: bold;
              justify-self: end;
              cursor: pointer;
            }
          }
        }

        .arrows {
          width: 36px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          .arrow {
            width: 26px;
            height: 26px;
            background: #2B3B64;
            border-radius: 100%;

            margin-bottom: 13px;
            
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
          }
        }
      }
    }

    h1 {
      font-family: PT Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;

      color: #FFFFFF;

      margin-bottom: 30px;
    }

    .inputs {
      margin-bottom: 30px;
      label {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;

        color: #FFFFFF;
        margin-bottom: 10px;

        display: block;
      }

      input, select {
        padding: 10px 20px;
        color: white;
        width: 350px;
        height: 40px;
        left: 785px;
        top: 381px;

        background: #121C36;
        border: 1px solid #4980FF;
        box-sizing: border-box;
        border-radius: 5px;

        display: block;
      }
    }

    .form-btns {
      display: flex;
      justify-content: center;

      button {
        outline: none;
        border: 1px solid #4980FF;
        background: none;
        height: 40px;
        border-radius: 5px;
        padding: 10px 0;
        display: block;
        width: 165px;
        
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
        &.btn-default {
          background: #4980FF;
          width: 112px;

          margin-right: 20px;
        }
      }
    }
  }
}